.container,
.form {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100vw;
    align-items: center;
    margin-top: 5vh;
}

.form {
    width: 85vw;
    background-color: #f8f8f8;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 1.5rem;
    box-shadow: 0 8px 24px rgba(1, 14, 19, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 3vh;
}

label {
    font-weight: 600;
    font-size: 14px;
    padding: 4px;
}

span {
    color: #f05a23;
}

input,
#submitBtn {
    height: 40px;
}

input,
textarea {
    font-size: 16px;
    padding: 8px;
    margin-bottom: 2vh;
    border-radius: 5px;
    border: 1px solid rgba(150, 132, 125, 0.4);
    background-color: rgba(150, 132, 125, 0.1);
}

input:focus,
input:active {
    border: 1px solid #f05a23 !important;
    background-color: rgba(150, 132, 125, 0.1);
}

#submitBtn {
    width: fit-content;
    height: 50px;
    padding: 16px 32px;
    background-color: #f05a23;
    border-radius: 5px;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
    margin: 4vh auto 3vh auto;
    cursor: pointer;
    -webkit-box-shadow: 0 15px 20px rgba(240, 90, 35, 0.35);
    -moz-box-shadow: 0 15px 20px rgba(240, 90, 35, 0.35);
    box-shadow: 0 15px 20px rgba(240, 90, 35, 0.35);
}

#submitBtn:hover,
#submitBtn:focus {
    background-color: #f16835;
    -webkit-box-shadow: 0 5px 20px rgba(240, 90, 35, 0.4);
    -moz-box-shadow: 0 5px 20px rgba(240, 90, 35, 0.4);
    box-shadow: 0 5px 20px rgba(240, 90, 35, 0.4);
}

#submitBtn:active {
    background-color: #de6235;
    box-shadow: none;
}

/* Medium devices, like tablets */
@media screen and (min-width: 768px) {
    .form {
        width: 50vw;
    }    
}
  