.hero {
    height: 100vh;
    width: 100vw;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drone,
.shadow {
    width: 85vw;
    max-width: 900px;
}

.heroText {
    width: 100vw;
    text-align: center;
    color: #333;
    margin-top: 6vh;
    margin-bottom: 8vh;
}

.heroText p {
    font-size: 24px;
    margin-bottom: 4vh;
}

.display span {
    color: #F06B23;
    font-weight: 400;
    font-style: normal;
}

.ctaBtn {
    width: fit-content;
    height: 50px;
    background-color: #f05a23;
    color: #fff !important;
    font-size: 20px;
    font-weight: 600;
    padding: 16px 32px;
    margin-top: 3vh;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 0 15px 20px rgba(240, 90, 35, 0.35);
    -moz-box-shadow: 0 15px 20px rgba(240, 90, 35, 0.35);
    box-shadow: 0 15px 20px rgba(240, 90, 35, 0.35);
}

.ctaBtn:hover,
.ctaBtn:focus {
    background-color: #f16835;
    -webkit-box-shadow: 0 5px 20px rgba(240, 90, 35, 0.4);
    -moz-box-shadow: 0 5px 20px rgba(240, 90, 35, 0.4);
    box-shadow: 0 5px 20px rgba(240, 90, 35, 0.4);
}

.ctaBtn:active {
    background-color: #de6235;
    box-shadow: none;
}

/* Medium devices, like tablets */
@media screen and (min-width: 600px) {
    .drone,
    .shadow {
        width: 50vw;
    }
}

/* Larger devices, like laptops and desktops */
@media screen and (min-width: 1025px) {       
    .drone,
    .shadow {
        width: 45vw;
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%); 
    }
    
    .shadow {
        top: 90%;
    } 

    .heroText {
        width: 30vw;
        text-align: left;
        position: absolute;
        top: 50%;
        left: 10%;
        color: #333;
        transform: translate(0%, -50%); 
    }    
}
  