/* orange used in branding is #F06B23; */

/* NON-GRID FALLBACK HERE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  font-family: 'Archivo', sans-serif;
}

.display {
  /* font-size: 3.38rem; */
  font-size: 6rem;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.97rem;
}

h3 {
  font-size: 1.72rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}


@media (grid: 0) {

  /* MOBILE LAYOUT HERE */
  /* ... */


  /* TABLET LAYOUT HERE */
  /* ... */


  /* DESKTOP LAYOUT HERE */
  @media screen and (min-width: 768px) {
    .container {
      display: grid;
      height: 100vh;
      width: 100vw;
    
      /* complementary to the orange hex value used in logo*/
      background-color: #f8f8f8; 
      /* a color scheme using blue, orange, and white would 
      feel light and fun, and the blue lends itself to the 
      product being a drone that can fly in the sky */
    
      grid-template: 1fr 6fr 4fr 1fr / 1fr;
      grid-template-areas: 
        "nav nav"
        "header header"
        "main main"
        "footer footer";
      gap: 10px;
    }
    
    /* .logo {
      background-color: #F06a23;
      grid-area: logo;
    } */
    
    .nav {
      background-color: lightgray;
      grid-area: nav;
    }

    .header {
      background-color: #23b9f0;
      grid-area: header;
    }
    
    .main {
      background-color: burlywood;
      grid-area: main;
    }
    
    .footer {
      background-color: orange;
      grid-area: footer;
    }
  }
  
}

