* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#edf9fe, #b6e8fa);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1, h2, h3, h4, p, a {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

.display {
  font-family: 'Archivo', sans-serif;
  font-size: 6rem;
  font-style: italic;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.97rem;
  font-weight: 400;
}

h3 {
  font-size: 1.72rem;
}

h4 {
  font-size: 1.5rem;
}

p, a {
  font-size: 1rem;
}

a, #submitBtn {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}