nav {
    display: flex;
    height: fit-content;
    background-color: rgb(255, 255, 255, .2);
}

.navItems {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 10vw;
    margin: 1vh 1vw;
}

a {
    color: #222;
    font-family: 'Archivo';
    text-decoration: none;
}

li {
    list-style: none;
    margin: 1vh 1vw;
}