nav {
    display: flex;
    height: fit-content;
    background-color: #fff;
    font-weight: 600;
    -webkit-box-shadow: 0 6px 12px rgba(40, 83, 100, 0.1);
    -moz-box-shadow: 0 6px 12px rgba(40, 83, 100, 0.1);
    box-shadow: 0 6px 12px rgba(40, 83, 100, 0.1);
}

.navItems {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 150px;
    margin: 1vh 3vw;
}

li {
    list-style: none;
    margin: 1vh 3vw;
}

a:hover,
a:active {
    color: #F06B23;
}